.hamburger {
    --rotate-time: .15s;
    --move-time: .1s;
}

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
}
  
.hamburger span {
    position: absolute;
    height: 9px;
    width: 100%;
    background: ;
    left: 0;
}

.hamburger span:nth-child(1) { top: 0px; background: white; }
  
.hamburger span:nth-child(2) { top: 18px; background: #C03B32; }
  
.hamburger span:nth-child(3) { bottom: 0px; background: white; }

.hamburger-nav {
    transform: translateY(-100%);
}

@media screen and (max-width: 639px) { 
    .hamburger.active span {
        transform: translateY(0px);
    }

    .hamburger-nav.active {
        transform: scaleY(1);
        transition: 1s;
        position: fixed;
    }

    .hamburger-nav {
        transition: 1s;
    }

    .hamburger-row {
        position: relative;
        z-index: 1;
    }

    .hamburger.active span:nth-child(1) {
        rotate: 45deg;
        top: 18px;
        transition: 1s;
    }

    .hamburger.active span:nth-child(2){
        transform: translateX(80px);
        transition: .5s;
        display: none;
    }

    .hamburger span:nth-child(2){
        transition: .5s;
    }

    .hamburger.active span:nth-child(3){
        rotate: 135deg;
        bottom: 18px;
        transition: 1s;
        background-color: #C03B32;
    }
}





.hamburger-row {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger {
    display: block;
}

.hamburger-nav ul {
    margin: 0;
    padding: 0;
}
.hamburger-nav li {
    display: block;
    padding: 0.25em 1em;
}

.hamburger-nav li:nth-child(even) {
    
}
.hamburger-nav li:hover {
    border-bottom: solid 1px #c92f24;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 640px) {
    .hamburger {
        display: none;
    }

    .hamburger-nav li {
        margin: 0 1.95rem;
    }

    .navbar-logo:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }

    .hamburger-nav {
        transform: none;
    }

    .hamburger-nav ul {
        display: flex;
        justify-content: right;
        margin-top: 10vh;
    }
}