html {
    background-color: #151515;
}

h1, h2, h3, p {
    color: white;
    margin: 0;
}

img {
    width: -webkit-fill-available;
}

.header-description {
    text-align: center;
    font-size: 14px;
}

.header-background {
    background-image: url(/img/img_back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}

.section_heading {
    text-align: center;
    margin: 34px 0;
}

.cars_name:first-child {
    margin: 34px 15px;
}

.cars_name {
    text-align: center;
    margin: 54px 15px 34px 15px;
    font-size: 20px;
}

.onas--box {
    padding: 30px 15px;
}

.onas-text {
    text-align: center;
}

.item-topspeed, .item-engine, .item-transmission, .item-AWD, .item-RWD, .item-weight {
    display: flex;
    justify-content: center;
    align-items: end;
    color: #C03B32;
    font-size: 20px;
    margin: 20px;
}

.item-topspeed::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_topspeed.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.item-specs--info {
    color: #ffff;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.item-engine::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_engine.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.item-transmission::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_transmission.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.item-AWD::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_awd.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 25px;
    margin-right: 15px;
}

.item-RWD::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_rwd.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 25px;
    margin-right: 15px;
}

.item-weight::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_weight.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.section-gallery__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    margin: 0 10px;
}

.fotka {
    flex: 1 0 25%;
    box-sizing: border-box;
    border-radius: 5px;
}

.fotka img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.menu-item {
    margin: 30px;
    text-align: center;
}

.menu-item:first-child {
    margin-top: 45vw;
}

.menu-item__xx {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.navbar-links {
    position: absolute;
    margin: 0;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: #000000C4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item--phone {
    color:white;
    text-decoration: none;
    margin: .5rem;
}

.contact-item--mail {
    text-decoration: none;
    color: #CC3366;
    margin: .5rem;
}

.contact-item--mail:hover, .contact-item--phone:hover {
    transform: scale(1.2);
    transition: 0.7s;
}

@media screen and (min-width:640px) {
    .header-background {
        height: 100vh;
    }

    .menu-item__xx {
        font-size: 12px;
        letter-spacing: 2.5px;
    }

    .menu-item:first-child {
        margin-top: auto;
    }

    .header-description {
        margin-top: 35vh;
        font-size: 32px;
    }

    .navbar-logo {
        visibility: visible;
    }

    .navbar-links {
        background-color: transparent;
        display: flex;
        justify-content: right;
        position: absolute;
        height: 0;
        flex-direction: row;
    }

    .onas--box {
        padding: 0 10%;
        align-self: center;
    }

    .section-onas  .section_heading, .onas-text {
        text-align: left;
    }

    .section-onas {
        display: flex;
    }

    .section-onas img {
        min-width: 50vw;
    }

    .section-gallery__container img:hover {
        transform: scale(1.2);
        transition: 0.7s;
    }

    .section-gallery__container img {
        transition: 0.7s;
    }

    .section-gallery__container div {
        overflow: hidden;
    }
    
    .section-gallery__container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .slider__item {
        min-height: 450px;
    }
}

@media screen and (min-width:960px) {
    .section-gallery__container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .slider__item {
        min-height: 790px;
    }
}