html {
    background-color: #151515;
}

h1, h2, h3, p {
    color: white;
    margin: 0;
}

img {
    width: -webkit-fill-available;
}

.header-description {
    text-align: center;
    font-size: 14px;
}

.header-background {
    background-image: url(/img/img_back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16vh;
}

.section_heading {
    text-align: center;
    margin: 34px;
}

.cars_name:first-child {
    margin: 34px 15px;
}

.cars_name {
    text-align: center;
    margin: 54px 15px 34px 15px;
    font-size: 20px;
}

.onas--box {
    padding: 30px 15px;
}

.onas-text {
    text-align: center;
}

.item-topspeed, .item-engine, .item-transmission, .item-AWD, .item-RWD, .item-weight {
    display: flex;
    justify-content: center;
    align-items: end;
    color: #C03B32;
    font-size: 20px;
    margin: 20px;
}

.item-topspeed::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_topspeed.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.item-specs--info {
    color: #ffff;
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.item-engine::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_engine.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.item-transmission::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_transmission.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.item-AWD::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_awd.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 25px;
    margin-right: 15px;
}

.item-RWD::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_rwd.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 25px;
    margin-right: 15px;
}

.item-weight::before {
    content: "";
    display: inline-block;
    background-image: url(/ico/ico_weight.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    margin-right: 15px;
}

.section-gallery__container a {
    width: 150px;
    height: 150px;
}

.fotka {
    margin: 0px 20px;
}

.menu-item {
    margin: 30px;
    text-align: center;
}

.menu-item:first-child {
    margin-top: 45vw;
}

.menu-item__xx {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.navbar-links {
    position: absolute;
    margin: 0;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: #000000C4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}